version: '3.8'

services:

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    image: ${DOCKER_USERNAME}/dd-backend:latest
    container_name: backend
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://mongodb:27017/dd_db
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    image: ${DOCKER_USERNAME}/dd-frontend:latest
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge